<!--*********************************************************************
 VIEW - DISPLAY THE DATA FROM DATABASE
 *********************************************************************-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Neighbourhood Hunter</title>
		<!--Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!--jQuery-->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!--Font Awesome-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<!--Google Fonts-->
		<link href="https://fonts.googleapis.com/css?family=Acme|Bangers|Days+One" rel="stylesheet">
		<!--CSS-->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
	</head>
	<body>
		{{{ body }}}
	</body>
<!--JavaScript-->	
<script src=""></script>
</html>
    <footer class="footer pt-3 pb-3" id="bordercolour">
        <div class="container text-center">
            <small>Copyright &copy; 2019 Team 4</small>
        </div>
    </footer>
