<%- include ('partials/header')%>

<div class="jumbotron text-center">
    <div class="container">
      <i class="fal fa-home-heart fa-6x"></i>
      <h1 class="display-3">Welcome to your own page!</h1>
      <p class="secret-text">Your favourites are listed below.</p>
      <hr>
      
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <!-- <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a> -->
    </div>
  </div>
  
  <%- include('partials/footer') %>