* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 14pt;
    background-color:#f6f5f5
}

h1 {
    font-family: 'Handlee', cursive;
}

.jumbotron {
    background: none;
}

.fa-home{
    color: #4592af
}

footer{
    bottom: 0;
    position: fixed;
    text-align: center;
    left: auto;
    background-color: #4592af;
    width: 100%;
    color: white
}

.logout{
    color:#f6f5f5;
    background-color: #33313b;
    border:none;
    margin-left: auto;
}