* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.img{
    background-image: url("../public/assets/images/skyline.png");
    background-position: center;
}
.map {
    width: 600px;
    height: 400px;
}